USE [master]
GO
/****** Object:  Database [YOLO_Metadata]    Script Date: 11/11/2023 11:04:47 AM ******/
CREATE DATABASE [YOLO_Metadata]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YOLO_Metadata', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\YOLO_Metadata.mdf' , SIZE = 16064KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'YOLO_Metadata_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\YOLO_Metadata_log.ldf' , SIZE = 4224KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YOLO_Metadata].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YOLO_Metadata]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetCompensations]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetCompensations](
	[asset_compensation_id] [nvarchar](50) NOT NULL,
	[compensation_content] [nvarchar](max) NOT NULL,
	[compensation_rate] [int] NOT NULL,
	[quantity_area] [int] NOT NULL,
	[compensation_price] [decimal](18, 0) NOT NULL,
	[compensation_type] [nvarchar](20) NOT NULL,
	[unit_price_asset_id] [nvarchar](50) NOT NULL,
	[owner_id] [nvarchar](50) NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_AssetCompensations] PRIMARY KEY CLUSTERED 
(
	[asset_compensation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetGroups]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetGroups](
	[asset_group_id] [nvarchar](50) NOT NULL,
	[code] [nvarchar](10) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_AssetGroups] PRIMARY KEY CLUSTERED 
(
	[asset_group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetUnits]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetUnits](
	[asset_unit_id] [nvarchar](50) NOT NULL,
	[code] [nvarchar](10) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_AssetUnits] PRIMARY KEY CLUSTERED 
(
	[asset_unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachFiles]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachFiles](
	[attach_file_id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[file_type] [nvarchar](10) NOT NULL,
	[reference_link] [nvarchar](max) NULL,
	[created_time] [datetime] NOT NULL,
	[created_by] [nvarchar](20) NULL,
	[plan_id] [nvarchar](50) NULL,
	[GCN_land_info_id] [nvarchar](50) NULL,
	[measured_land_info_id] [nvarchar](50) NULL,
	[owner_id] [nvarchar](50) NULL,
	[is_asset_compensation] [bit] NULL,
 CONSTRAINT [PK_AttachFiles] PRIMARY KEY CLUSTERED 
(
	[attach_file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditTrails]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditTrails](
	[id] [nvarchar](50) NOT NULL,
	[user_id] [nvarchar](max) NULL,
	[user_name] [nvarchar](max) NULL,
	[type] [nvarchar](max) NULL,
	[table_name] [nvarchar](max) NOT NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[affected_column] [nvarchar](max) NULL,
	[primary_key] [nvarchar](max) NOT NULL,
	[created_date] [datetime] NOT NULL,
 CONSTRAINT [PK_AuditTrails_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deductions]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deductions](
	[deduction_id] [nvarchar](50) NOT NULL,
	[deduction_content] [nvarchar](max) NOT NULL,
	[deduction_price] [decimal](18, 0) NOT NULL,
	[owner_id] [nvarchar](50) NULL,
	[deduction_type_id] [nvarchar](50) NULL,
 CONSTRAINT [PK_Deductions] PRIMARY KEY CLUSTERED 
(
	[deduction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeductionTypes]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeductionTypes](
	[deduction_type_id] [nvarchar](50) NOT NULL,
	[code] [nvarchar](10) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_DeductionTypes] PRIMARY KEY CLUSTERED 
(
	[deduction_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[document_id] [nvarchar](50) NOT NULL,
	[document_type_id] [nvarchar](50) NOT NULL,
	[number] [nvarchar](10) NOT NULL,
	[notation] [nvarchar](10) NOT NULL,
	[created_by] [nvarchar](20) NOT NULL,
	[created_time] [datetime] NOT NULL,
	[published_date] [date] NOT NULL,
	[effective_date] [date] NOT NULL,
	[epitome] [nvarchar](max) NOT NULL,
	[sign_info] [nvarchar](max) NULL,
	[note] [nvarchar](max) NULL,
	[pen] [nvarchar](max) NULL,
	[file_name] [nvarchar](max) NOT NULL,
	[file_size] [int] NOT NULL,
	[reference_link] [nvarchar](max) NOT NULL,
	[is_public] [bit] NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentTypes]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentTypes](
	[document_type_id] [nvarchar](50) NOT NULL,
	[code] [nvarchar](10) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_DocumentTypes] PRIMARY KEY CLUSTERED 
(
	[document_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GCNLandInfos]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GCNLandInfos](
	[GCN_land_info_id] [nvarchar](50) NOT NULL,
	[GCN_page_number] [nvarchar](10) NOT NULL,
	[GCN_plot_number] [nvarchar](10) NOT NULL,
	[GCN_plot_address] [nvarchar](100) NOT NULL,
	[land_type_id] [nvarchar](50) NOT NULL,
	[GCN_plot_area] [decimal](18, 0) NULL,
	[GCN_owner_certificate] [nvarchar](max) NULL,
	[owner_id] [nvarchar](50) NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_GCNLandInfos] PRIMARY KEY CLUSTERED 
(
	[GCN_land_info_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LandGroups]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LandGroups](
	[land_group_id] [nvarchar](50) NOT NULL,
	[code] [nvarchar](10) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_LandGroups] PRIMARY KEY CLUSTERED 
(
	[land_group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LandPositionInfos]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LandPositionInfos](
	[land_info_position_id] [nvarchar](50) NOT NULL,
	[location_name] [nvarchar](50) NOT NULL,
	[description] [ntext] NULL,
	[project_id] [nvarchar](50) NOT NULL,
	[land_info_type] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_LandPositionInfos] PRIMARY KEY CLUSTERED 
(
	[land_info_position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LandResettlements]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LandResettlements](
	[land_resettlement_id] [nvarchar](50) NOT NULL,
	[position] [nvarchar](50) NULL,
	[plot_number] [nvarchar](10) NULL,
	[page_number] [nvarchar](10) NULL,
	[plot_address] [nvarchar](100) NULL,
	[land_size] [decimal](18, 0) NULL,
	[total_land_price] [decimal](18, 0) NULL,
	[resettlement_project_id] [nvarchar](50) NOT NULL,
	[owner_id] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LandResettlements] PRIMARY KEY CLUSTERED 
(
	[land_resettlement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LandTypes]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LandTypes](
	[land_type_id] [nvarchar](50) NOT NULL,
	[code] [nvarchar](10) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[land_group_id] [nvarchar](50) NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_LandTypes] PRIMARY KEY CLUSTERED 
(
	[land_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogErrors]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogErrors](
	[error_id] [nvarchar](50) NOT NULL,
	[status_code] [int] NULL,
	[error_info] [nvarchar](max) NULL,
	[type] [nvarchar](max) NULL,
	[user_id] [nvarchar](50) NULL,
	[user_name] [nvarchar](20) NULL,
	[created_date] [datetime] NULL,
	[is_deleted] [bit] NULL,
 CONSTRAINT [PK_LogErrors] PRIMARY KEY CLUSTERED 
(
	[error_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeasuredLandInfo]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasuredLandInfo](
	[measured_land_info_id] [nvarchar](50) NOT NULL,
	[measured_page_number] [nvarchar](10) NULL,
	[measured_plot_number] [nvarchar](10) NULL,
	[measured_plot_address] [nvarchar](100) NULL,
	[land_type_id] [nvarchar](50) NOT NULL,
	[measured_plot_area] [decimal](18, 0) NULL,
	[withdraw_area] [decimal](18, 0) NULL,
	[compensation_price] [decimal](18, 0) NULL,
	[compensation_rate] [decimal](18, 0) NULL,
	[compensation_note] [nvarchar](50) NULL,
	[unit_price_land_cost] [decimal](18, 0) NOT NULL,
	[GCN_land_info_id] [nvarchar](50) NOT NULL,
	[owner_id] [nvarchar](50) NOT NULL,
	[unit_price_land_id] [nvarchar](50) NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_MeasuredLandInfo] PRIMARY KEY CLUSTERED 
(
	[measured_land_info_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrganizationTypes]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationTypes](
	[organization_type_id] [nvarchar](50) NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_OrganizationTypes] PRIMARY KEY CLUSTERED 
(
	[organization_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owners]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owners](
	[owner_id] [nvarchar](50) NOT NULL,
	[owner_code] [nvarchar](20) NOT NULL,
	[owner_name] [nvarchar](50) NOT NULL,
	[owner_id_code] [nvarchar](20) NULL,
	[owner_gender] [nvarchar](10) NULL,
	[owner_date_of_birth] [date] NULL,
	[owner_ethnic] [nvarchar](50) NULL,
	[owner_national] [nvarchar](50) NULL,
	[owner_address] [nvarchar](200) NULL,
	[owner_tax_code] [nvarchar](10) NULL,
	[owner_type] [nvarchar](20) NULL,
	[owner_created_time] [datetime] NOT NULL,
	[owner_created_by] [nvarchar](20) NOT NULL,
	[project_id] [nvarchar](50) NULL,
	[plan_id] [nvarchar](50) NULL,
	[owner_status] [nvarchar](20) NULL,
	[published_date] [date] NULL,
	[published_place] [nvarchar](50) NULL,
	[husband_wife_name] [nvarchar](50) NULL,
	[represent_person] [nvarchar](50) NULL,
	[tax_published_date] [date] NULL,
	[organization_type_id] [nvarchar](50) NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Owners] PRIMARY KEY CLUSTERED 
(
	[owner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plans]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plans](
	[plan_id] [nvarchar](50) NOT NULL,
	[project_id] [nvarchar](50) NOT NULL,
	[plan_code] [nvarchar](10) NOT NULL,
	[plan_description] [ntext] NULL,
	[plan_create_base] [nvarchar](50) NULL,
	[plan_approved_by] [nvarchar](50) NOT NULL,
	[plan_report_signal] [ntext] NULL,
	[plan_report_date] [date] NULL,
	[plan_report_info] [nvarchar](200) NOT NULL,
	[plan_created_time] [datetime] NOT NULL,
	[plan_ended_time] [datetime] NOT NULL,
	[plan_created_by] [nvarchar](20) NOT NULL,
	[plan_status] [nvarchar](20) NOT NULL,
	[total_owner_support_compensation] [int] NULL,
	[total_price_compensation] [decimal](18, 0) NULL,
	[total_price_land_support_compensation] [decimal](18, 0) NULL,
	[total_price_house_support_compensation] [decimal](18, 0) NULL,
	[total_price_architecture_support_compensation] [decimal](18, 0) NULL,
	[total_price_plant_support_compensation] [decimal](18, 0) NULL,
	[total_land_recovery_area] [decimal](18, 0) NULL,
	[total_deduction] [decimal](18, 0) NULL,
	[total_gpmb_service_cost] [decimal](18, 0) NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Plans] PRIMARY KEY CLUSTERED 
(
	[plan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceAppliedCodes]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceAppliedCodes](
	[price_applied_code_id] [nvarchar](50) NOT NULL,
	[unit_price_code] [nvarchar](20) NOT NULL,
	[price_content] [ntext] NOT NULL,
	[exprired_time] [datetime] NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_PriceAppliedCode] PRIMARY KEY CLUSTERED 
(
	[price_applied_code_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectDocuments]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectDocuments](
	[project_document_id] [nvarchar](50) NOT NULL,
	[project_id] [nvarchar](50) NOT NULL,
	[document_id] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProjectDocuments] PRIMARY KEY CLUSTERED 
(
	[project_document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[project_id] [nvarchar](50) NOT NULL,
	[project_code] [nvarchar](50) NOT NULL,
	[project_name] [nvarchar](50) NOT NULL,
	[project_location] [nvarchar](200) NULL,
	[province] [nvarchar](20) NULL,
	[district] [nvarchar](20) NULL,
	[ward] [nvarchar](20) NULL,
	[project_expense] [decimal](18, 0) NULL,
	[project_approval_date] [date] NULL,
	[implementation_year] [int] NULL,
	[regulated_unit_price] [nvarchar](20) NULL,
	[project_brief_number] [int] NULL,
	[project_note] [nvarchar](50) NULL,
	[price_applied_code_id] [nvarchar](50) NULL,
	[check_code] [nvarchar](20) NULL,
	[report_signal] [ntext] NULL,
	[report_number] [int] NULL,
	[price_basis] [nvarchar](max) NULL,
	[land_compensation_basis] [nvarchar](max) NULL,
	[asset_compensation_basis] [nvarchar](max) NULL,
	[project_created_time] [date] NOT NULL,
	[project_created_by] [nvarchar](20) NOT NULL,
	[project_status] [nvarchar](20) NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResettlementDocuments]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResettlementDocuments](
	[project_document_id] [nvarchar](50) NOT NULL,
	[resettlement_project_id] [nvarchar](50) NOT NULL,
	[document_id] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ResettlementDocuments] PRIMARY KEY CLUSTERED 
(
	[project_document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResettlementProjects]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResettlementProjects](
	[resettlement_project_id] [nvarchar](50) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[limit_to_resettlement] [int] NOT NULL,
	[limit_to_consideration] [int] NOT NULL,
	[position] [nvarchar](50) NULL,
	[land_number] [int] NOT NULL,
	[implement_year] [nvarchar](4) NULL,
	[land_price] [decimal](18, 0) NOT NULL,
	[note] [nvarchar](max) NULL,
	[last_date_edit] [datetime] NULL,
	[last_person_edit] [nvarchar](50) NULL,
	[document_id] [nvarchar](50) NOT NULL,
	[project_id] [nvarchar](50) NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_ResettlementProjects] PRIMARY KEY CLUSTERED 
(
	[resettlement_project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supports]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supports](
	[support_id] [nvarchar](50) NOT NULL,
	[support_content] [nvarchar](max) NOT NULL,
	[asset_unit_id] [nvarchar](50) NOT NULL,
	[support_number] [int] NOT NULL,
	[support_unit_price] [decimal](18, 0) NULL,
	[support_price] [decimal](18, 0) NOT NULL,
	[owner_id] [nvarchar](50) NOT NULL,
	[support_type_id] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Supports] PRIMARY KEY CLUSTERED 
(
	[support_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportTypes]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportTypes](
	[support_type_id] [nvarchar](50) NOT NULL,
	[code] [nvarchar](10) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_SupportType] PRIMARY KEY CLUSTERED 
(
	[support_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitPriceAssets]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitPriceAssets](
	[unit_price_asset_id] [nvarchar](50) NOT NULL,
	[asset_name] [nvarchar](20) NOT NULL,
	[asset_price] [decimal](18, 0) NOT NULL,
	[asset_regulation] [nvarchar](20) NULL,
	[asset_type] [nvarchar](20) NOT NULL,
	[price_applied_code_id] [nvarchar](50) NOT NULL,
	[asset_unit_id] [nvarchar](50) NOT NULL,
	[asset_group_id] [nvarchar](50) NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_UnitPriceAssets] PRIMARY KEY CLUSTERED 
(
	[unit_price_asset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitPriceLands]    Script Date: 11/11/2023 11:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitPriceLands](
	[unit_price_land_id] [nvarchar](50) NOT NULL,
	[project_id] [nvarchar](50) NOT NULL,
	[street_area_name] [nvarchar](50) NOT NULL,
	[land_type_id] [nvarchar](50) NOT NULL,
	[land_unit] [nvarchar](20) NOT NULL,
	[land_position_1] [decimal](18, 0) NULL,
	[land_position_2] [decimal](18, 0) NULL,
	[land_position_3] [decimal](18, 0) NULL,
	[land_position_4] [decimal](18, 0) NULL,
	[land_position_5] [decimal](18, 0) NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_UnitPriceLands] PRIMARY KEY CLUSTERED 
(
	[unit_price_land_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231012201253_AddAuditTrails', N'7.0.1')
GO
INSERT [dbo].[AssetCompensations] ([asset_compensation_id], [compensation_content], [compensation_rate], [quantity_area], [compensation_price], [compensation_type], [unit_price_asset_id], [owner_id], [is_deleted]) VALUES (N'09686e33-c2d9-4ab4-b698-b778e707b2b0', N'Compensation OW123', 100, 4, CAST(100 AS Decimal(18, 0)), N'1', N'1', N'990641f3-91e4-4991-b24e-702dafad341f', 0)
INSERT [dbo].[AssetCompensations] ([asset_compensation_id], [compensation_content], [compensation_rate], [quantity_area], [compensation_price], [compensation_type], [unit_price_asset_id], [owner_id], [is_deleted]) VALUES (N'1', N'1', 1, 1, CAST(1 AS Decimal(18, 0)), N'1', N'1', N'1', 0)
INSERT [dbo].[AssetCompensations] ([asset_compensation_id], [compensation_content], [compensation_rate], [quantity_area], [compensation_price], [compensation_type], [unit_price_asset_id], [owner_id], [is_deleted]) VALUES (N'14271cd6-5383-495a-90cf-d9d62069b4ff', N'Compensation OW123', 100, 4, CAST(100 AS Decimal(18, 0)), N'1', N'1', N'e4dc6a84-9af7-483d-97ea-4d659146a238', 0)
GO
INSERT [dbo].[AssetGroups] ([asset_group_id], [code], [name], [is_deleted]) VALUES (N'01fbdfcb-b4a4-4b04-a6be-ef1b4a8dfc6e', N'xcva', N'qwwe123', 1)
INSERT [dbo].[AssetGroups] ([asset_group_id], [code], [name], [is_deleted]) VALUES (N'09ae9a19-c841-48f5-9a01-ed44f0a7a0f9', N'sdxcv', N'xcvcsf', 1)
INSERT [dbo].[AssetGroups] ([asset_group_id], [code], [name], [is_deleted]) VALUES (N'1', N'1ádf', N'1ádf', 1)
GO
INSERT [dbo].[AssetUnits] ([asset_unit_id], [code], [name], [is_deleted]) VALUES (N'0be8ffc2-2ccd-4e3b-933b-64607173e551', N'DONVI2', N'loai don vi 2', 0)
INSERT [dbo].[AssetUnits] ([asset_unit_id], [code], [name], [is_deleted]) VALUES (N'1', N'1sdf', N'1sdfsdf', 1)
INSERT [dbo].[AssetUnits] ([asset_unit_id], [code], [name], [is_deleted]) VALUES (N'2cfc2f91-b04b-4e58-8eaa-4c60ad3a93e8', N'abc', N'xzcvsdf', 1)
GO
INSERT [dbo].[AttachFiles] ([attach_file_id], [name], [file_type], [reference_link], [created_time], [created_by], [plan_id], [GCN_land_info_id], [measured_land_info_id], [owner_id], [is_asset_compensation]) VALUES (N'1', N'File 1 ', N'1', N'link://', CAST(N'2023-01-12T00:00:00.000' AS DateTime), N'addmin', NULL, NULL, N'7b42b8c8-e80f-4b1a-be90-29b025817fed', NULL, 1)
INSERT [dbo].[AttachFiles] ([attach_file_id], [name], [file_type], [reference_link], [created_time], [created_by], [plan_id], [GCN_land_info_id], [measured_land_info_id], [owner_id], [is_asset_compensation]) VALUES (N'2', N'File 1 ', N'1', N'link://', CAST(N'2023-01-12T00:00:00.000' AS DateTime), N'addmin', NULL, NULL, N'7b42b8c8-e80f-4b1a-be90-29b025817fed', NULL, 1)
INSERT [dbo].[AttachFiles] ([attach_file_id], [name], [file_type], [reference_link], [created_time], [created_by], [plan_id], [GCN_land_info_id], [measured_land_info_id], [owner_id], [is_asset_compensation]) VALUES (N'3e9efb20-b7f7-4593-9192-0d7449bd1d4c', N'TestFile', N'xlsx', N'https://yolofilebucket.s3.ap-southeast-1.amazonaws.com/TestFile-246ec42d-5765-4e53-8864-4d46ae3e8ef5?AWSAccessKeyId=AKIA5P5WY526ZT4ISOU5&Expires=2015064865&Signature=T0N3XeObY55kdT9WyYc2sVSlvP4%3D', CAST(N'2023-11-08T12:14:24.657' AS DateTime), N'admin', NULL, N'd757cb52-e585-4d19-94f5-daa2a5abf908', NULL, NULL, 0)
GO
INSERT [dbo].[AuditTrails] ([id], [user_id], [user_name], [type], [table_name], [old_value], [new_value], [affected_column], [primary_key], [created_date]) VALUES (N'0152fd63-e33b-4d97-a0be-c5725f9fb3f4', N'cf7d97c6-2535-4eb2-8210-be03e8535571', N'admin', N'Create', N'Deduction', NULL, N'{"DeductionId":"e7b239e0-79a1-41f2-b88f-6cf16fa9178e","DeductionContent":"Deduction OW123","DeductionPrice":1000.0,"DeductionTypeId":"1","OwnerId":"7398ceaa-f07c-4062-9e08-d1e2d4c02bc3"}', NULL, N'{"DeductionId":"e7b239e0-79a1-41f2-b88f-6cf16fa9178e"}', CAST(N'2023-11-08T02:10:13.663' AS DateTime))
INSERT [dbo].[AuditTrails] ([id], [user_id], [user_name], [type], [table_name], [old_value], [new_value], [affected_column], [primary_key], [created_date]) VALUES (N'01d3c97f-71e2-4d05-a3de-85210184b3ea', N'175649ca-b3ea-4db9-a4c2-02f3492dfbe0', N'creator', N'Update', N'OrganizationType', N'{"IsDeleted":false}', N'{"IsDeleted":true}', N'["IsDeleted"]', N'{"OrganizationTypeId":"d18d2d2f-e65b-489c-bd55-abadad378798"}', CAST(N'2023-11-05T09:10:51.593' AS DateTime))
GO
INSERT [dbo].[Deductions] ([deduction_id], [deduction_content], [deduction_price], [owner_id], [deduction_type_id]) VALUES (N'0ab6fa58-f239-48f1-9ce6-c75eff23ad42', N'Deduction OW123', CAST(1000 AS Decimal(18, 0)), N'2106dadf-1341-438c-aee9-06a52b03f4a5', N'1')
INSERT [dbo].[Deductions] ([deduction_id], [deduction_content], [deduction_price], [owner_id], [deduction_type_id]) VALUES (N'0ac49caf-c65c-4f62-a40b-bbe6539fc55f', N'Deduction OW123', CAST(1000 AS Decimal(18, 0)), N'61f8f243-070f-48c5-908d-26b07666140f', N'1')
INSERT [dbo].[Deductions] ([deduction_id], [deduction_content], [deduction_price], [owner_id], [deduction_type_id]) VALUES (N'1', N'Deduction 1', CAST(100000000 AS Decimal(18, 0)), N'1', N'1')
GO
INSERT [dbo].[DeductionTypes] ([deduction_type_id], [code], [name], [is_deleted]) VALUES (N'1', N'abc', N'abcsdasdaa', 1)
INSERT [dbo].[DeductionTypes] ([deduction_type_id], [code], [name], [is_deleted]) VALUES (N'132f3647-fcce-48e9-9dbd-58d0145fb320', N'KHAUTRU2', N'Loai khau tru 2', 0)
INSERT [dbo].[DeductionTypes] ([deduction_type_id], [code], [name], [is_deleted]) VALUES (N'3e27cde1-085f-44e7-a481-694769110579', N'KHAUTRU3', N'Loai khau tru 3', 0)
GO
INSERT [dbo].[Documents] ([document_id], [document_type_id], [number], [notation], [created_by], [created_time], [published_date], [effective_date], [epitome], [sign_info], [note], [pen], [file_name], [file_size], [reference_link], [is_public], [is_deleted]) VALUES (N'1', N'1', N'Document1', N'1111', N'acc005', CAST(N'2023-01-12T00:00:00.000' AS DateTime), CAST(N'2023-01-01' AS Date), CAST(N'2023-02-01' AS Date), N'Document Epitome', N'Sign Info', N'Note1', N'Pen1', N'1', 1, N'linl://link', 1, 0)
GO
INSERT [dbo].[DocumentTypes] ([document_type_id], [code], [name], [is_deleted]) VALUES (N'1', N'DOC1', N'DOC1ádasd', 1)
INSERT [dbo].[DocumentTypes] ([document_type_id], [code], [name], [is_deleted]) VALUES (N'2', N'DOC223ád', N'DOC2ưeaá', 0)
GO
INSERT [dbo].[GCNLandInfos] ([GCN_land_info_id], [GCN_page_number], [GCN_plot_number], [GCN_plot_address], [land_type_id], [GCN_plot_area], [GCN_owner_certificate], [owner_id], [is_deleted]) VALUES (N'1', N'Page 1', N'Plot 1', N'Address 1', N'1', CAST(1 AS Decimal(18, 0)), N'Certificate owner 1', N'1', 0)
INSERT [dbo].[GCNLandInfos] ([GCN_land_info_id], [GCN_page_number], [GCN_plot_number], [GCN_plot_address], [land_type_id], [GCN_plot_area], [GCN_owner_certificate], [owner_id], [is_deleted]) VALUES (N'169f9ae7-32be-4890-99c0-0c29ff71c055', N'Page 1', N'111', N'Binh Dinh', N'1', CAST(10 AS Decimal(18, 0)), N'AAAA', N'e4dc6a84-9af7-483d-97ea-4d659146a238', 0)
INSERT [dbo].[GCNLandInfos] ([GCN_land_info_id], [GCN_page_number], [GCN_plot_number], [GCN_plot_address], [land_type_id], [GCN_plot_area], [GCN_owner_certificate], [owner_id], [is_deleted]) VALUES (N'3817e102-ac96-4de1-ba67-89133a2776a1', N'Page 1', N'111', N'Binh Dinh', N'1', CAST(10 AS Decimal(18, 0)), N'AAAA', N'a305e0af-a72f-4048-9a85-d3cb6cc45c88', 0)
GO
INSERT [dbo].[LandGroups] ([land_group_id], [code], [name], [is_deleted]) VALUES (N'1', N'nhomadadad', N'nhom 1asdadas4444444', 1)
INSERT [dbo].[LandGroups] ([land_group_id], [code], [name], [is_deleted]) VALUES (N'1481855c-518b-44f9-bdd0-f0726ff1fbd8', N'nhom 2', N'nhom 2sdfgsfgasdasd', 1)
INSERT [dbo].[LandGroups] ([land_group_id], [code], [name], [is_deleted]) VALUES (N'19a19d84-7ae9-4068-b88c-bb3a9085b685', N'abc', N'xyz', 1)
GO
INSERT [dbo].[LandPositionInfos] ([land_info_position_id], [location_name], [description], [project_id], [land_info_type]) VALUES (N'03196b21-2de7-411f-9da6-ae74dbedfb5f', N'Tinh Binh Dinh', N'Du An Xay San Bay', N'5f9eb39f-0048-443b-b50e-bf7cabaad545', N'Type 1')
INSERT [dbo].[LandPositionInfos] ([land_info_position_id], [location_name], [description], [project_id], [land_info_type]) VALUES (N'08cfb820-b032-4cf5-bf46-ddb32d83300c', N'sabcklsdf', N'sdfcxb', N'2542e971-6789-4ffb-b44f-60a3c79f9917', N'resettlePosition')
INSERT [dbo].[LandPositionInfos] ([land_info_position_id], [location_name], [description], [project_id], [land_info_type]) VALUES (N'0e893883-2304-4706-b5ae-f06d99c6f9ab', N'3', N'3', N'6f0ab8ae-21c6-490e-b3eb-3ef7f4165cb8', N'landPosition')
GO
INSERT [dbo].[LandTypes] ([land_type_id], [code], [name], [land_group_id], [is_deleted]) VALUES (N'05b21825-40c5-4dd6-9810-00cdba3f1461', N'type 2', N'type 2', N'1481855c-518b-44f9-bdd0-f0726ff1fbd8', 1)
INSERT [dbo].[LandTypes] ([land_type_id], [code], [name], [land_group_id], [is_deleted]) VALUES (N'1', N'LandType1', N'Type 1s', N'1481855c-518b-44f9-bdd0-f0726ff1fbd8', 1)
INSERT [dbo].[LandTypes] ([land_type_id], [code], [name], [land_group_id], [is_deleted]) VALUES (N'1228b8ba-875e-4635-a4c0-e67b33c0306f', N'type 3', N'type 3', N'f82a487a-b749-406d-b494-a71bbff277fc', 1)
GO
INSERT [dbo].[OrganizationTypes] ([organization_type_id], [code], [name], [is_deleted]) VALUES (N'1', N'O1sadasd', N'O123434', 1)
INSERT [dbo].[OrganizationTypes] ([organization_type_id], [code], [name], [is_deleted]) VALUES (N'c6d88b68-c89f-4cf0-9e7c-025b5ccac7ea', N'adasda123', N'striânqưeqg', 1)
INSERT [dbo].[OrganizationTypes] ([organization_type_id], [code], [name], [is_deleted]) VALUES (N'd18d2d2f-e65b-489c-bd55-abadad378798', N'adasda', N'striângsdfsdf', 1)
GO
INSERT [dbo].[PriceAppliedCodes] ([price_applied_code_id], [unit_price_code], [price_content], [exprired_time], [is_deleted]) VALUES (N'058e5bf0-cec7-4ba8-9dc8-5e0aec7ccbf8', N'Test', N'AA', CAST(N'2023-11-09T17:00:00.000' AS DateTime), 0)
INSERT [dbo].[PriceAppliedCodes] ([price_applied_code_id], [unit_price_code], [price_content], [exprired_time], [is_deleted]) VALUES (N'244252dd-27e3-4516-b913-0a94a857006b', N'001', N'ASDD', CAST(N'2023-11-08T11:14:04.050' AS DateTime), 0)
INSERT [dbo].[PriceAppliedCodes] ([price_applied_code_id], [unit_price_code], [price_content], [exprired_time], [is_deleted]) VALUES (N'32651a6d-ad55-41e6-ba73-363dca094426', N'Test333444', N'AA', CAST(N'2023-11-10T07:56:32.493' AS DateTime), 0)
GO
INSERT [dbo].[ProjectDocuments] ([project_document_id], [project_id], [document_id]) VALUES (N'1', N'03ad7f79-fc06-4b31-b4e2-5a71a397fc60', N'1')
INSERT [dbo].[ProjectDocuments] ([project_document_id], [project_id], [document_id]) VALUES (N'1b3cc88a-da84-4592-9e3e-74838bfce71a', N'd42f4ebc-8409-4f03-ae5c-819e6964c7a5', N'1021f7c4-5ae2-4f88-98b3-059d03ef838b')
INSERT [dbo].[ProjectDocuments] ([project_document_id], [project_id], [document_id]) VALUES (N'1e1279f1-11d0-4ece-90c2-d2bc83b81f6b', N'60074946-cf74-4a89-b066-247ea5bdc9df', N'ad7fe1e9-3642-49ec-893f-affe9a9ff385')
GO
INSERT [dbo].[Supports] ([support_id], [support_content], [asset_unit_id], [support_number], [support_unit_price], [support_price], [owner_id], [support_type_id]) VALUES (N'073a2244-29c5-4250-bc89-a3398bea0c03', N'Support OW123', N'2cfc2f91-b04b-4e58-8eaa-4c60ad3a93e8', 123, CAST(0 AS Decimal(18, 0)), CAST(1000 AS Decimal(18, 0)), N'f9cbddf4-6a99-481e-8d0c-681c15db36a2', N'c79db5b9-f2e4-4655-9812-fa183216367b')
INSERT [dbo].[Supports] ([support_id], [support_content], [asset_unit_id], [support_number], [support_unit_price], [support_price], [owner_id], [support_type_id]) VALUES (N'0f306d7c-5e8c-4dcf-984e-339377279eaf', N'Support OW123', N'2cfc2f91-b04b-4e58-8eaa-4c60ad3a93e8', 123, CAST(0 AS Decimal(18, 0)), CAST(1000 AS Decimal(18, 0)), N'41531915-0de3-4af4-bac5-12767db9d479', N'c79db5b9-f2e4-4655-9812-fa183216367b')
INSERT [dbo].[Supports] ([support_id], [support_content], [asset_unit_id], [support_number], [support_unit_price], [support_price], [owner_id], [support_type_id]) VALUES (N'0f4ab040-647e-4c8b-81f8-8e8941cf581e', N'Support OW123', N'2cfc2f91-b04b-4e58-8eaa-4c60ad3a93e8', 123, CAST(0 AS Decimal(18, 0)), CAST(1000 AS Decimal(18, 0)), N'e9793c20-3e49-4ce4-90d6-6ffcb8372f60', N'c79db5b9-f2e4-4655-9812-fa183216367b')
GO
INSERT [dbo].[SupportTypes] ([support_type_id], [code], [name], [is_deleted]) VALUES (N'1', N'abc', N'abcasdas', 1)
INSERT [dbo].[SupportTypes] ([support_type_id], [code], [name], [is_deleted]) VALUES (N'5ed95b10-b92b-4cb9-96c5-3875c8d90ec1', N'HOTRO3', N'Loai ho tro 3', 0)
INSERT [dbo].[SupportTypes] ([support_type_id], [code], [name], [is_deleted]) VALUES (N'654bf65b-a692-4037-bbaf-93cb8bf32705', N'HOTRO2', N'Loai ho tro 2', 0)
GO
INSERT [dbo].[UnitPriceAssets] ([unit_price_asset_id], [asset_name], [asset_price], [asset_regulation], [asset_type], [price_applied_code_id], [asset_unit_id], [asset_group_id], [is_deleted]) VALUES (N'0ef14018-dd98-45d5-914f-3cb2f49cd238', N'công trình 2', CAST(100000 AS Decimal(18, 0)), N'quy cách', N'Architecture', N'eb794b48-2f2a-43f7-85cc-6b07bded585e', N'0be8ffc2-2ccd-4e3b-933b-64607173e551', N'1', 0)
INSERT [dbo].[UnitPriceAssets] ([unit_price_asset_id], [asset_name], [asset_price], [asset_regulation], [asset_type], [price_applied_code_id], [asset_unit_id], [asset_group_id], [is_deleted]) VALUES (N'1', N'Asset 1', CAST(100 AS Decimal(18, 0)), N'1', N'1', N'A', N'1', N'1', 0)
INSERT [dbo].[UnitPriceAssets] ([unit_price_asset_id], [asset_name], [asset_price], [asset_regulation], [asset_type], [price_applied_code_id], [asset_unit_id], [asset_group_id], [is_deleted]) VALUES (N'16ee47b1-101c-4771-a5c2-47f435c085e5', N'Asset 2345', CAST(100017 AS Decimal(18, 0)), N'dong/m2', N'House', N'A', N'1', N'1', 0)
GO
INSERT [dbo].[UnitPriceLands] ([unit_price_land_id], [project_id], [street_area_name], [land_type_id], [land_unit], [land_position_1], [land_position_2], [land_position_3], [land_position_4], [land_position_5], [is_deleted]) VALUES (N'1', N'03ad7f79-fc06-4b31-b4e2-5a71a397fc60', N'Area 1', N'1', N'đồng/m2', NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[UnitPriceLands] ([unit_price_land_id], [project_id], [street_area_name], [land_type_id], [land_unit], [land_position_1], [land_position_2], [land_position_3], [land_position_4], [land_position_5], [is_deleted]) VALUES (N'277da3f3-4310-4dbe-b122-c64a66eba6e6', N'03ad7f79-fc06-4b31-b4e2-5a71a397fc60', N'Name2', N'1', N'đồng/m2', CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), 0)
INSERT [dbo].[UnitPriceLands] ([unit_price_land_id], [project_id], [street_area_name], [land_type_id], [land_unit], [land_position_1], [land_position_2], [land_position_3], [land_position_4], [land_position_5], [is_deleted]) VALUES (N'32bcc4b6-d00d-4c80-b4ec-31f3f0034eee', N'1895f25f-ec14-4d94-b0b6-0634b3c3fad0', N'Duong OK OK 123', N'351d2212-574a-4658-a864-009d807bc32b', N'đ/m2', CAST(400000 AS Decimal(18, 0)), CAST(350000 AS Decimal(18, 0)), CAST(300000 AS Decimal(18, 0)), CAST(200000 AS Decimal(18, 0)), CAST(100000 AS Decimal(18, 0)), 0)
GO
ALTER TABLE [dbo].[AssetCompensations]  WITH CHECK ADD  CONSTRAINT [FK_AssetCompensations_Owners] FOREIGN KEY([owner_id])
REFERENCES [dbo].[Owners] ([owner_id])
GO
ALTER TABLE [dbo].[AssetCompensations] CHECK CONSTRAINT [FK_AssetCompensations_Owners]
GO
ALTER TABLE [dbo].[AssetCompensations]  WITH CHECK ADD  CONSTRAINT [FK_AssetCompensations_UnitPriceAssets] FOREIGN KEY([unit_price_asset_id])
REFERENCES [dbo].[UnitPriceAssets] ([unit_price_asset_id])
GO
ALTER TABLE [dbo].[AssetCompensations] CHECK CONSTRAINT [FK_AssetCompensations_UnitPriceAssets]
GO
ALTER TABLE [dbo].[AttachFiles]  WITH CHECK ADD  CONSTRAINT [FK_AttachFiles_GCNLandInfos] FOREIGN KEY([GCN_land_info_id])
REFERENCES [dbo].[GCNLandInfos] ([GCN_land_info_id])
GO
ALTER TABLE [dbo].[AttachFiles] CHECK CONSTRAINT [FK_AttachFiles_GCNLandInfos]
GO
ALTER TABLE [dbo].[AttachFiles]  WITH CHECK ADD  CONSTRAINT [FK_AttachFiles_MeasuredLandInfo] FOREIGN KEY([measured_land_info_id])
REFERENCES [dbo].[MeasuredLandInfo] ([measured_land_info_id])
GO
ALTER TABLE [dbo].[AttachFiles] CHECK CONSTRAINT [FK_AttachFiles_MeasuredLandInfo]
GO
ALTER TABLE [dbo].[AttachFiles]  WITH CHECK ADD  CONSTRAINT [FK_AttachFiles_Owners] FOREIGN KEY([owner_id])
REFERENCES [dbo].[Owners] ([owner_id])
GO
ALTER TABLE [dbo].[AttachFiles] CHECK CONSTRAINT [FK_AttachFiles_Owners]
GO
ALTER TABLE [dbo].[AttachFiles]  WITH CHECK ADD  CONSTRAINT [FK_AttachFiles_Plans] FOREIGN KEY([plan_id])
REFERENCES [dbo].[Plans] ([plan_id])
GO
ALTER TABLE [dbo].[AttachFiles] CHECK CONSTRAINT [FK_AttachFiles_Plans]
GO
ALTER TABLE [dbo].[Deductions]  WITH CHECK ADD  CONSTRAINT [FK_Deductions_DeductionTypes] FOREIGN KEY([deduction_type_id])
REFERENCES [dbo].[DeductionTypes] ([deduction_type_id])
GO
ALTER TABLE [dbo].[Deductions] CHECK CONSTRAINT [FK_Deductions_DeductionTypes]
GO
ALTER TABLE [dbo].[Deductions]  WITH CHECK ADD  CONSTRAINT [FK_Deductions_Owners] FOREIGN KEY([owner_id])
REFERENCES [dbo].[Owners] ([owner_id])
GO
ALTER TABLE [dbo].[Deductions] CHECK CONSTRAINT [FK_Deductions_Owners]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_DocumentTypes] FOREIGN KEY([document_type_id])
REFERENCES [dbo].[DocumentTypes] ([document_type_id])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_DocumentTypes]
GO
ALTER TABLE [dbo].[GCNLandInfos]  WITH CHECK ADD  CONSTRAINT [FK_GCNLandInfos_LandTypes] FOREIGN KEY([land_type_id])
REFERENCES [dbo].[LandTypes] ([land_type_id])
GO
ALTER TABLE [dbo].[GCNLandInfos] CHECK CONSTRAINT [FK_GCNLandInfos_LandTypes]
GO
ALTER TABLE [dbo].[GCNLandInfos]  WITH CHECK ADD  CONSTRAINT [FK_GCNLandInfos_Owners] FOREIGN KEY([owner_id])
REFERENCES [dbo].[Owners] ([owner_id])
GO
ALTER TABLE [dbo].[GCNLandInfos] CHECK CONSTRAINT [FK_GCNLandInfos_Owners]
GO
ALTER TABLE [dbo].[LandPositionInfos]  WITH CHECK ADD  CONSTRAINT [FK_LandPositionInfos_Projects] FOREIGN KEY([project_id])
REFERENCES [dbo].[Projects] ([project_id])
GO
ALTER TABLE [dbo].[LandPositionInfos] CHECK CONSTRAINT [FK_LandPositionInfos_Projects]
GO
ALTER TABLE [dbo].[LandResettlements]  WITH CHECK ADD  CONSTRAINT [FK_LandResettlements_Owners] FOREIGN KEY([owner_id])
REFERENCES [dbo].[Owners] ([owner_id])
GO
ALTER TABLE [dbo].[LandResettlements] CHECK CONSTRAINT [FK_LandResettlements_Owners]
GO
ALTER TABLE [dbo].[LandResettlements]  WITH CHECK ADD  CONSTRAINT [FK_LandResettlements_ResettlementProjects] FOREIGN KEY([resettlement_project_id])
REFERENCES [dbo].[ResettlementProjects] ([resettlement_project_id])
GO
ALTER TABLE [dbo].[LandResettlements] CHECK CONSTRAINT [FK_LandResettlements_ResettlementProjects]
GO
ALTER TABLE [dbo].[LandTypes]  WITH CHECK ADD  CONSTRAINT [FK_LandTypes_LandGroups] FOREIGN KEY([land_group_id])
REFERENCES [dbo].[LandGroups] ([land_group_id])
GO
ALTER TABLE [dbo].[LandTypes] CHECK CONSTRAINT [FK_LandTypes_LandGroups]
GO
ALTER TABLE [dbo].[MeasuredLandInfo]  WITH CHECK ADD  CONSTRAINT [FK_MeasuredLandInfo_GCNLandInfos] FOREIGN KEY([GCN_land_info_id])
REFERENCES [dbo].[GCNLandInfos] ([GCN_land_info_id])
GO
ALTER TABLE [dbo].[MeasuredLandInfo] CHECK CONSTRAINT [FK_MeasuredLandInfo_GCNLandInfos]
GO
ALTER TABLE [dbo].[MeasuredLandInfo]  WITH CHECK ADD  CONSTRAINT [FK_MeasuredLandInfo_LandTypes] FOREIGN KEY([land_type_id])
REFERENCES [dbo].[LandTypes] ([land_type_id])
GO
ALTER TABLE [dbo].[MeasuredLandInfo] CHECK CONSTRAINT [FK_MeasuredLandInfo_LandTypes]
GO
ALTER TABLE [dbo].[MeasuredLandInfo]  WITH CHECK ADD  CONSTRAINT [FK_MeasuredLandInfo_UnitPriceLands] FOREIGN KEY([unit_price_land_id])
REFERENCES [dbo].[UnitPriceLands] ([unit_price_land_id])
GO
ALTER TABLE [dbo].[MeasuredLandInfo] CHECK CONSTRAINT [FK_MeasuredLandInfo_UnitPriceLands]
GO
ALTER TABLE [dbo].[Owners]  WITH CHECK ADD  CONSTRAINT [FK_Owners_OrganizationTypes] FOREIGN KEY([organization_type_id])
REFERENCES [dbo].[OrganizationTypes] ([organization_type_id])
GO
ALTER TABLE [dbo].[Owners] CHECK CONSTRAINT [FK_Owners_OrganizationTypes]
GO
ALTER TABLE [dbo].[Owners]  WITH CHECK ADD  CONSTRAINT [FK_Owners_Plans] FOREIGN KEY([plan_id])
REFERENCES [dbo].[Plans] ([plan_id])
GO
ALTER TABLE [dbo].[Owners] CHECK CONSTRAINT [FK_Owners_Plans]
GO
ALTER TABLE [dbo].[Owners]  WITH CHECK ADD  CONSTRAINT [FK_Owners_Projects] FOREIGN KEY([project_id])
REFERENCES [dbo].[Projects] ([project_id])
GO
ALTER TABLE [dbo].[Owners] CHECK CONSTRAINT [FK_Owners_Projects]
GO
ALTER TABLE [dbo].[Plans]  WITH CHECK ADD  CONSTRAINT [FK_Plans_Projects] FOREIGN KEY([project_id])
REFERENCES [dbo].[Projects] ([project_id])
GO
ALTER TABLE [dbo].[Plans] CHECK CONSTRAINT [FK_Plans_Projects]
GO
ALTER TABLE [dbo].[ProjectDocuments]  WITH CHECK ADD  CONSTRAINT [FK_ProjectDocuments_Documents] FOREIGN KEY([document_id])
REFERENCES [dbo].[Documents] ([document_id])
GO
ALTER TABLE [dbo].[ProjectDocuments] CHECK CONSTRAINT [FK_ProjectDocuments_Documents]
GO
ALTER TABLE [dbo].[ProjectDocuments]  WITH CHECK ADD  CONSTRAINT [FK_ProjectDocuments_Projects] FOREIGN KEY([project_id])
REFERENCES [dbo].[Projects] ([project_id])
GO
ALTER TABLE [dbo].[ProjectDocuments] CHECK CONSTRAINT [FK_ProjectDocuments_Projects]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_PriceAppliedCodes] FOREIGN KEY([price_applied_code_id])
REFERENCES [dbo].[PriceAppliedCodes] ([price_applied_code_id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_PriceAppliedCodes]
GO
ALTER TABLE [dbo].[ResettlementDocuments]  WITH CHECK ADD  CONSTRAINT [FK_ResettlementDocuments_Documents] FOREIGN KEY([document_id])
REFERENCES [dbo].[Documents] ([document_id])
GO
ALTER TABLE [dbo].[ResettlementDocuments] CHECK CONSTRAINT [FK_ResettlementDocuments_Documents]
GO
ALTER TABLE [dbo].[ResettlementDocuments]  WITH CHECK ADD  CONSTRAINT [FK_ResettlementDocuments_ResettlementProjects] FOREIGN KEY([resettlement_project_id])
REFERENCES [dbo].[ResettlementProjects] ([resettlement_project_id])
GO
ALTER TABLE [dbo].[ResettlementDocuments] CHECK CONSTRAINT [FK_ResettlementDocuments_ResettlementProjects]
GO
ALTER TABLE [dbo].[ResettlementProjects]  WITH CHECK ADD  CONSTRAINT [FK_ResettlementProjects_Projects] FOREIGN KEY([project_id])
REFERENCES [dbo].[Projects] ([project_id])
GO
ALTER TABLE [dbo].[ResettlementProjects] CHECK CONSTRAINT [FK_ResettlementProjects_Projects]
GO
ALTER TABLE [dbo].[Supports]  WITH CHECK ADD  CONSTRAINT [FK_Supports_AssetUnits] FOREIGN KEY([asset_unit_id])
REFERENCES [dbo].[AssetUnits] ([asset_unit_id])
GO
ALTER TABLE [dbo].[Supports] CHECK CONSTRAINT [FK_Supports_AssetUnits]
GO
ALTER TABLE [dbo].[Supports]  WITH CHECK ADD  CONSTRAINT [FK_Supports_Owners] FOREIGN KEY([owner_id])
REFERENCES [dbo].[Owners] ([owner_id])
GO
ALTER TABLE [dbo].[Supports] CHECK CONSTRAINT [FK_Supports_Owners]
GO
ALTER TABLE [dbo].[Supports]  WITH CHECK ADD  CONSTRAINT [FK_Supports_SupportTypes] FOREIGN KEY([support_type_id])
REFERENCES [dbo].[SupportTypes] ([support_type_id])
GO
ALTER TABLE [dbo].[Supports] CHECK CONSTRAINT [FK_Supports_SupportTypes]
GO
ALTER TABLE [dbo].[UnitPriceAssets]  WITH CHECK ADD  CONSTRAINT [FK_UnitPriceAssets_AssetGroups] FOREIGN KEY([asset_group_id])
REFERENCES [dbo].[AssetGroups] ([asset_group_id])
GO
ALTER TABLE [dbo].[UnitPriceAssets] CHECK CONSTRAINT [FK_UnitPriceAssets_AssetGroups]
GO
ALTER TABLE [dbo].[UnitPriceAssets]  WITH CHECK ADD  CONSTRAINT [FK_UnitPriceAssets_AssetUnits] FOREIGN KEY([asset_unit_id])
REFERENCES [dbo].[AssetUnits] ([asset_unit_id])
GO
ALTER TABLE [dbo].[UnitPriceAssets] CHECK CONSTRAINT [FK_UnitPriceAssets_AssetUnits]
GO
ALTER TABLE [dbo].[UnitPriceAssets]  WITH CHECK ADD  CONSTRAINT [FK_UnitPriceAssets_PriceAppliedCodes] FOREIGN KEY([price_applied_code_id])
REFERENCES [dbo].[PriceAppliedCodes] ([price_applied_code_id])
GO
ALTER TABLE [dbo].[UnitPriceAssets] CHECK CONSTRAINT [FK_UnitPriceAssets_PriceAppliedCodes]
GO
ALTER TABLE [dbo].[UnitPriceLands]  WITH CHECK ADD  CONSTRAINT [FK_UnitPriceLands_LandTypes] FOREIGN KEY([land_type_id])
REFERENCES [dbo].[LandTypes] ([land_type_id])
GO
ALTER TABLE [dbo].[UnitPriceLands] CHECK CONSTRAINT [FK_UnitPriceLands_LandTypes]
GO
ALTER TABLE [dbo].[UnitPriceLands]  WITH CHECK ADD  CONSTRAINT [FK_UnitPriceLands_Projects] FOREIGN KEY([project_id])
REFERENCES [dbo].[Projects] ([project_id])
GO
ALTER TABLE [dbo].[UnitPriceLands] CHECK CONSTRAINT [FK_UnitPriceLands_Projects]
GO
USE [master]
GO
